{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}
	De-Crypto
{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css"/>
	<style>
		{% include 'style.css' %}
	</style>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>   
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>

	{{super()}}
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		{% include 'js/sparklines.js' %}
	</script>
{% endblock %}

{% block navbar %}
	{{nav.mynavbar.render()}}
{% endblock %}

{% block content %}
	<div class="container">
		{%- with messages = get_flashed_messages(with_categories=True) %}
			{%- if messages %}
			<div class="row">
				<div class="col-md-12">
					{{utils.flashed_messages(messages)}}
				</div>
			</div>
			{%- endif %}
		{%- endwith %}
		<div class="page-header">
			<h1>{{ico_name|safe}}</h1>
			<!-- <p>These tokens had similar characteristics at ICO stage.</p> -->
		</div>
	</div>
	<div class="container" id='chart1'>
		<!-- <img src="{{url_for('static', filename='img/whitepaper.png')}}" /> -->
		<table id="list1" class="display" width="100%"></table>
	</div>
	<script type="text/javascript">

		Highcharts.setOptions({
		    lang: {
		        thousandsSep: ','
		    }
		}); 	

		$.getJSON('/_detail/{{ico_name|safe}}', function(data) {
			var list1='<ul id="details-list">';
			var url_cols = ['owner_url']
			// console.log(data)
			$.each( data, function( index, item) {
				if (url_cols.includes(index)) {
					text = item.toString().split('|')[0]
					url = item.toString().split('|')[1]
					list1 += '<li><b>'+index+'</b>: <a href="' + url +'">' + text + '</a></td>'; 
				} else if (index == 'links') {
					list1 += '<li><b>'+index+'</b>:<br/><ul>'
					links = item.toString().split('<br/>')
					$.each(links, function(index, val) {
						if (val != "") {
							if (val.includes("Whitepaper")) {
								img = "<img src='/static/img/whitepaper.png' height='24' width='24'/>"
							} else if (val.includes("Twitter")) {
								img = "<img src='/static/img/twitter.png' height='24' width='24'/>"
							} else if (val.includes("Facebook")) {
								img = "<img src='/static/img/facebook.png' height='24' width='24'/>"
							} else {
								img = ""
							}
							list1 += '<li>'+img+'   '+val+'</li>'
						};
					});
					list1 += '</ul></li>'
				} else {
					list1 += '<li><b>'+index+'</b>: '+item+'</li>'
				}

			});
			list1+='</ul>';
			/* insert the html string*/
			$("#list1").html( list1 );
		});
	</script>
	<script type="text/javascript">

	</script>

{% endblock %}